*{
    margin: 0;
    padding: 0;
    color: #323232;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border-radius: 10px;
    box-shadow: 1px 19px 15px 16px rgba(0,0,0,0.05);
    height: 55vh;
    
}

.main-container #title{
    text-align: center;
    padding: 0 2rem;
}

.main-container form{
    padding: 0 2rem;
    box-sizing: border-box;
}

form .txt-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 2rem 0;
}

a{
    color: rgb(142, 218, 218);
}

.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 60px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transform: .5s;
}
.txt-field span::before{
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transform: .5s;
}
.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 3.5rem;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 1rem;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}

